In [ ]:
'''
Project Overview[Celebrity Product Drops Sales Performance Analysis]:

Goals:To evaluate the effectiveness of celebrity product collaborations by analyzing sales data
Project involves investigating the performance of celebrity product drops to inform future marketing strategies

'''

'\nProject Overview[Ice Cream Sales Seasonal Performance Assessment]:\nThis project seeks to investigate seasonal sales patterns through comprehensive data analysis. \n\nGoals:To understand how temperature variations and unique transaction characteristics impact ice cream sales volume\n    :To perform detailed data cleaning and exploratory analysis to uncover meaningful insights about seasonal sales performance.\n\n'

In [1]:
# Importing necessary libraries for analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Getting the Dataset
fct_sales = pd.read_csv(r'D:\Data Journey\Python-Summer-Party\DataSets\fct_sales.csv')

# Display the first few rows to understand the data
print(fct_sales .head(10))  # Shows the first 5 rows with columns
print(list(fct_sales .columns))
print('Number of rows and columns is:', fct_sales .shape)

   sale_id  sale_date  product_id  sale_amount  celebrity_id
0        1  1/10/2025         901          NaN           101
1        2  1/15/2025         901      1500.00           101
2        3   2/3/2025         902      2000.50           102
3        4  3/12/2025         903      2500.75           103
4        5  3/20/2025         904          NaN           104
5        6  2/28/2025         901      1000.00           101
6        7  3/25/2025         902       300.00           102
7        8  3/30/2025         905      1800.00           105
8        9  1/20/2025         903      1200.00           103
9       10   2/5/2025         906       500.00           106
['sale_id', 'sale_date', 'product_id', 'sale_amount', 'celebrity_id']
Number of rows and columns is: (18, 5)

In [3]:
# Question One : Finding missing data for the period For Q1 2025 (January 1st through March 31st, 2025)

# 0. Dealing with timeframe
# Convert sale_date to datetime
fct_sales['sale_date'] = pd.to_datetime(fct_sales['sale_date'])
# Extract month number
fct_sales['month'] = fct_sales['sale_date'].dt.month
# Filter for months January to March
fct_sales_q1_2025 = fct_sales[(fct_sales['sale_date'] >= '2025-01-01') & (fct_sales['sale_date'] <= '2025-03-31')]

# 1. Missing data
missing_sales = fct_sales_q1_2025[fct_sales_q1_2025['sale_amount'].isna()]

print(missing_sales)

    sale_id  sale_date  product_id  sale_amount  celebrity_id  month
0         1 2025-01-10         901          NaN           101      1
4         5 2025-03-20         904          NaN           104      3
12       13 2025-03-15         909          NaN           102      3

In [4]:
# Question Two: Unique combinations of celebrity id and product id
# To ensure that each collaboration is accurately accounted for in the analysis of Nike's marketing performance.
# Unique combinations of celebrity_id and product_id
unique_combinations = fct_sales_q1_2025[['celebrity_id', 'product_id']].drop_duplicates()

print(unique_combinations)

    celebrity_id  product_id
0            101         901
2            102         902
3            103         903
4            104         904
7            105         905
9            106         906
10           107         907
11           101         908
12           102         909
13           108         910

In [5]:
# Question Three:
# Ranking the unique celebrity collaborations based on their total sales amounts and list the top 3 collaborations in descending order
# Filling in missing values with 0 for correct calculation
fct_sales_q1_2025['sale_amount'] = fct_sales_q1_2025['sale_amount'].fillna(0)

# Group by both celebrity and product
top3_celebrity_collaborations = ( fct_sales_q1_2025.groupby(['celebrity_id', 'product_id'])['sale_amount'].sum().reset_index().sort_values(by='sale_amount', ascending=False).head(3))
print(top3_celebrity_collaborations)

   celebrity_id  product_id  sale_amount
2           102         902      3800.50
4           103         903      3700.75
6           105         905      2500.00

C:\Users\enock\AppData\Local\Temp\ipykernel_9208\3463303698.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fct_sales_q1_2025['sale_amount'] = fct_sales_q1_2025['sale_amount'].fillna(0)

In [6]:
# create a dictionary named person
person = {"name": "Jessa", "country": "USA", "telephone": 1178}

# access value using key name in []
print(person['name'])
# Output 'Jessa'

#  get key value using key name in get()
print(person.get('telephone'))

Jessa
1178

In [ ]:
person = {"name": "Jessa", "country": "USA"}

# updating the country name
person["country"] = "Canada"
# print the updated country
print(person['country'])
# Output 'Canada'

# updating the country name using update() method
person.update({"country": "USA"})
# print the updated country
print(person['country'])

Canada
USA

: